/* .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  'ThumbnailsView MainView';
}
.ThumbnailsView {
  grid-area: ThumbnailsView;
  display: inline;
  position: relative;
}
.MainView {
  grid-area: MainView;
  position: absolute;
} */
